@prefix acl: <http://www.w3.org/ns/auth/acl#> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .

<http://platform:8080/#control> a acl:Authorization ;
        acl:mode      acl:Read ;
        acl:mode      acl:Write ;
        acl:mode      acl:Control ;
{{{adminAgents}}}
        acl:accessTo  <http://platform:8080/> .

<http://platform:8080/#write> a acl:Authorization ;
        acl:mode       acl:Read ;
        acl:mode       acl:Write ;
        acl:agentClass acl:AuthenticatedAgent ;
        acl:accessTo  <http://platform:8080/> .

<http://platform:8080/#read> a acl:Authorization ;
        acl:mode        acl:Read ;
        acl:agentClass  foaf:Agent ;
        acl:accessTo    <http://platform:8080/> .
